.sprite {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.inv-sprite,
.slot-sprite,
.enchant-sprite,
.schematic-sprite,
.legacy-inv-sprite,
.enderio-sprite,
.buildcraft-sprite,
.computer-craft-sprite,
.ir3-sprite,
.botania-sprite,
.mfr-sprite,
.red-power-sprite,
.ic2-sprite,
.railcraft-sprite,
.logistics-pipes-sprite {
    height: 32px;
    width: 32px;
}

.slot-sprite {
    background-image: url(https://static.wikitide.net/minecraftjapanwiki/f/f2/SlotSprite.png);
}